<h1>TinyApp</h1>
  <a href="/register">Register</a>
  <a href="/login">Login</a>

  <% if(user) { %>
    <form action="/logout" method="POST">
      <label for="login">Logged in as: <%= user.id %></label> <input type="submit" value="Logout">
    </form>
  <% } %>