<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header.ejs %>
  </header>
  <h2><%= shortURL %></h2>
  <h2><%= urls[shortURL] %></h2>
</body>
</html>