<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  <title>Linkster</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header.ejs %>
  <br>
  <form method="POST" action="/urls?_method=PUT">
    <h3>Generate a brand new short URL with any URL!</h3>
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="New URL" style="width: 300px">
      <input type="submit" value="Submit">
  </form>
</body>
</html>