<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <% include ./partials/_header.ejs %>
  <h2>URLS And Their Shorthand</h2>
    <ul>
      <% for (var url in urls) { %>
        <form method="POST" action="/urls/b2xVn2/delete">
          <li><%= `${urls[url]} - ${url}` %><input style="display: inline;" type="submit" value="Delete"></li>
        </form>
      <% } %>

    </ul>
    <a href="./urls/new">Create a URL</a>
</body>
</html>